/* CSS Reset */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  /*font-family: 'Raleway', open sans;*/
  /*font-family: 'Quicksand', open sans;*/
  background-color: transparent; /*#ace0f8*/
}

/*colors
#044b9d
#ace0f8
#0064b1
#00a5e7
#c9ced1*/

.navbar{
	background-color: #044b9d; /*#0064b1*/
  border-top: 2px solid grey; /*#00a5e7*/
}

.content{
  height:   100vh;
	text-align: center;
  background-image: linear-gradient(-50deg, rgba(172, 224, 248, 0.2), rgba(172, 224, 248, 1));
	padding-top: 2.5em; 
  border-radius: 0px;
 
}


.back{
  height:   100vh;
  padding: 0px;
  background-image: url("../images/umakbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.large{
margin-top: 1.2em;
font-size: 3.5em;
}

#large{
  padding-top: 4em;
}

.med{
margin-top: .7em;
font-size: 2.1em;
}

#med{
  padding-top: 2em;
}

.small{
margin-top: .7em;
font-size: 3em;
}

.title, .large, .med{
  padding: 0px 0px 0px 0px ;
  text-align: center;
  color: #044b9d;
  text-shadow: 2px 3px 10px #333;
  font-weight: bolder;
} 

.sub{
  font-family: 'Raleway', open sans;
  text-align: center;
  font-size: 2.5em;
}

p{
   font-family: 'Quicksand', open sans;
}
.imgl, .imgm{
  width: 80%;
  align-items: center;
}

.imgsm{
  width: 100%;
  align-items: center;
}

.container{
  margin-top: 20px;
}

.dip{
  font-size: 2.5em;
}

.footer{
  text-align: center;
  background-color: #0064b1;
  padding: 10px;
  margin: 0px;
  color: white;
  /*border-top: 7px solid #00a5e7;*/
}

#footer{
  margin-bottom: 3.5em;
  padding-top: 5px;
  border-top: 2px solid grey;
}

#med{
  margin-top: 17em;
}

#page{
  background-color: #dae2e6;/* #dae2e6*/
}

#page2, #page1{
  height: 100%;
}

.abtcont{
  background-color: #dae2e6;
  margin: 0px;
  height: 100%;
}

#about{
  text-align: center;
  padding-top: 4em;
  font-size: 3.5em;
}

.abtinfo, .par1, .par2{
  margin-top: 0px;
  padding-top: 1em;
  background-color: #fff; 
  border-radius: 10px;
  margin: 5px;
  padding: 20px; 
}

.abtvis,
#abtvis{
  margin-top: 0px;
  padding-top: 1em;
  background-color: #fff; 
  border-radius: 10px;
  margin: 5px;
  padding-bottom: 70px;
}

.abt{
  background-color: transparent;
  background-image: url("../images/umakbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron{
  background-color: transparent;
}

#abthead{
  margin-bottom: 0px;
}

.abtmisvis{
 margin-top: 0px; /*height: 100%;*/
}

#abtftr{
  margin-bottom: 3.5em;
  padding: 0px;
}

#contact{
  text-align: center;
}

.fab{
 margin: 5px;
 color: white;
}

#landlogo{
text-align: center;
margin-top: 8em;
/*width: 20%;*/
}

.coof{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3em;
}

.in{
 padding: 10px;
}

.sub{
  font-weight: bold;
  font-size: 2em;
}
